.intro {
  @include linear-gradient(to top, black, red);
  padding-top: 10%;
  height: 40vh;

  h1 {
    display: inline-block;
    width: 30vw;
  }

  img {
    display: inline-block;
    width: 50%;
    float: right;
    margin-right: 5vw;
  }
}